BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignArrayOfStructures: Left
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
IndentCaseLabels: true
